@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+DE+VA+Guides&family=Playwrite+VN:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}
.navbar{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 99;
}
.nav-head h3{
    font-weight: 300;
}
.nav-item ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav-item ul li a{
    color: white;
    text-decoration: none;
}
.nav-item ul li a i{
    padding-right: 4px;
}
.nav-item ul li a:hover{
    border-bottom: 2px solid white;
}

body{
    width: 100%;
    height: 100%;
}

section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main{
    background: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0,0.9)),url(./images/juice\ list.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-content{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-content h1{
    font-size: 70px;
    font-weight: 400;
    text-shadow: 2px 2px 15px black;
    font-family: "Playwrite VN", serif;
}
.main-content p{
    font-size: 20px;
    font-weight: 300;
    margin: 0px 60px;
}


.btn-group{
    display: flex;
    height: 50px;
    width: 800px;
    border-radius: 10px;
    margin-top: 30px;
}
    
.btn-group input{
    width: 100%;
    border-radius: 10px 0 0 10px;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 18px;
}

/* .main-content input{
    width: 600px;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
} */
.main-content button{
    background-color: #4cd137;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-item{
    cursor: pointer;
    transition: transform 0.3s; 
    text-align: center;
    width: 220px;
    height: 370px;
    margin: 20px;
    padding: 20px;
    border-radius: 50px 5px 50px 5px;
    background-color: #ecf0f1;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.product-item:hover{
    transform: scale(1.05);
}
.product-item h4{
    font-weight: 500;
    font-size: 22px;
    margin: 6px 0;
    text-shadow: 1px 1px 15px white;
}
.product-item p{
    font-size: 16px;
    font-weight: 400;
}
.product-item img{
    border-radius: 50px 5px 50px 5px;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.product-item button{
    padding: 10px 30px;
    background-color: #4cd137;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    /* transition: transform .5s; */
    margin-top: 4px;
    cursor: pointer;
    font-size: 16px;
}
.product-item button:hover{
    background-color: #f0932b;
    /* transform: scale(1.1); */
}

.heading h1{
    font-size: 50px;
    margin-top:70px;
    margin-bottom: 20px;
    font-weight: 300;
}

.about-item{
    cursor: pointer;
    overflow: hidden;
    height: 56px;
    transition: height 0.5s !important;
    /* transition: transform 0.5s; */
    border-radius: 5px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.about-item:hover{
    height: 100px;
    /* transform: scale(1.05); */
}
.about-item h2{
    font-weight: 400;
    background-color: #7f8fa6;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
}

.about-item p{
    padding: 10px;
    background-color: #dcdde1;
    border-radius: 0 0 5px 5px;
}

.about-heading h1{
    font-size: 30px;
    font-weight: 400;
    margin-top: 100px;
    margin-bottom: 40px;
}

.contact-us{
    display: flex;
    width: 800px;
}
.contact-head{
    width: 400px;
    height: 400px;
}

.contact-head img{
    width: 400px;
}

.contact-body{
    width: 400px;
}

.contact-item{
    margin-bottom: 10px;
}

.contact-body h1{
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    margin: 20px 0;
}

.contact-item label{
    display: block;
}
.contact-item label i{
    margin: 0px 5px;
}
.contact-item input{
    width: 350px;
    padding: 6px;
}

.contact-body button{
    padding: 10px 30px;
    background-color: #4cd137;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    transition: .5s;
    margin-top: 5px;
    cursor: pointer;
}
.contact-body h1 i{
    font-size: 30px;
    margin-left: 7px;
}
.contact-body button:hover{
    background-color: #44bd32;
}

.footer{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}
.footer h1{
    font-size: 30px;
    font-weight: 300;
    padding: 10px 0;
}

.footer p{
    padding: 3px 0;
    font-weight: 300;
}
.footer-item{
    display: flex;
    justify-content: space-evenly;
}
.footer-item p{
    padding: 3px 0;
    font-weight: 200;
}
